* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
/* a is for the header links */
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-logo-text,
.hero-main-text,
.button {
  color: #f9faf8;
}

.info-header,
.hero-main-text,
.button {
  font-weight: 900;
}

.info-header,
.quote {
  font-size: 36px;
  color: #1f2937;
}

.cta,
.button {
  background-color: #3882f6;
}

.dark-background {
  background-color: #1f2937;
}

.hero-main-text {
  font-size: 48px;
}

.hero-secondary-text {
  color: #e5e7eb;
  width: 50%;
}

.hero-logo-text {
  font-size: 24px;
}

.button {
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border-style: none;
}

.quote {
  background-color: #e5e7eb;
  font-weight: 300;
  font-style: italic;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero-main-text {
  margin-top: 100px;
  width: 50%;
}

.dark-background {
  padding: 0px 40px 0px 40px;
}

.hero-main-section {
  display: flex;
  flex-direction: column;
}
