* {
  font-family: "Roboto", Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-logo-text,
.hero-main-text {
  color: #f9faf8;
}

.info-header,
.hero-main-text {
  font-weight: 900;
}

.info-header,
.quote {
  font-size: 36px;
  color: #1f2937;
}

.dark-background {
  background-color: #1f2937;
}

.hero-main-text {
  font-size: 48px;
}

.hero-secondary-text {
  font-size: 18px;
}

.hero-logo-text {
  font-size: 24px;
}

.button {
  color: #3882f6;
}
.cta {
  background-color: #3882f6;
}

.quote {
  background-color: #e5e7eb;
  font-weight: 300px;
  font-style: italic;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-links {
  display: flex;
  gap: 20px;
  margin-right: 40px;
  list-style: none;
}

.hero-logo-text {
  margin-left: 40px;
}
