* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* a is for the header links */
a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero-logo-text,
.hero-main-text,
.button {
  color: #f9faf8;
}

.info-header,
.hero-main-text,
.button {
  font-weight: 900;
}

.info-header,
.quote {
  font-size: 36px;
  color: #1f2937;
}

.cta,
.button {
  background-color: #3882f6;
}

.info-header,
.info-text {
  text-align: center;
}
.dark-background {
  background-color: #1f2937;
  padding: 0px 40px 0px 40px;
}

.hero-main-text {
  font-size: 48px;
}

.hero-secondary-text,
.footer {
  color: #e5e7eb;
  /* width: 50%; */
}

.hero-logo-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border-style: none;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.quote {
  background-color: #e5e7eb;
  font-weight: 300;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* help why is it 100px */
.quote-source {
  margin-top: 100px;
  font-style: normal;
  align-self: flex-end;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.hero-main-text {
  margin-top: 100px;
  /* width: 50%; */
}

.hero-main-section {
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

.hero-main-container {
  display: flex;
  justify-content: space-evenly;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0px 36px 0px;
}

.info-header {
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.info-images {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.info-div {
  display: flex;
  flex-direction: column;
}

.info-image {
  height: 200px;
  width: auto;
  border-color: #3882f6;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
}

.info-text {
  align-self: center;
  color: #5a6370;
  width: 200px;
}

.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 400px 100px 400px;
  padding: 50px;
  border-radius: 8px;
  gap: 200px;
}

.cta-button {
  border-color: #f9faf8;
  border-style: solid;
}

.cta-text {
  color: #f9faf8;
  margin: 0px;
  font-size: 12px;
}

.cta-header {
  text-align: start;
  font-size: 20px;
}

.header-img {
  margin-left: 50px;
}
